// SCREEN SIZES
$tablet: 700px;
$laptop: 1024px;
$desktop: 1280px;

$border-radius: 3px;
$box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
$box-shadow--1: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
$box-shadow--2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.12);
$box-shadow--3: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
  0 4px 15px 0 rgba(0, 0, 0, 0.15);
$box-shadow--4: 0px 38px 108px 8px rgba(0, 0, 0, 0.09);
$text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4),
  0px 3px 6px rgba(0, 0, 0, 0.22);
